@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    text-align:justify;
    justify-content: center;
    color: $blue;
    font-family: GillSans;
    background-color: $white;
    overflow: hidden;
    padding: 20px 20px;


    .welcome{
        .welcomeHead{
        font-size: 1.5em;
        text-align: center;
        }
        .welcomeDescription{
            font-size: 0.9em;
        }
    }

    .aboutUs{
        .aboutUsHead{
            text-align: center;
            font-size: 1.5em;
        }
        .aboutUsDescription{
            font-size: 0.9em;
        }
    }

    .ourProducts{
        .ourProductsHead{
            text-align: center;
            font-size: 1.5em;
        }
        .ourProductsDescription{
            font-size: 0.9em;
        }
    }

    .whyChooseUs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        position: relative;
    }

    .whyChooseItem {
        flex: 0 0 calc(50% - 20px);  // Two items per row, considering margin
        margin: 10px;
        padding: 20px;
        transition: transform 0.5s ease;
        position: relative;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .whyChooseItem:hover {
        transform: scale(1.1);
    }

    .navigationButton1, 
    .navigationButton2 {
        padding: 10px 20px;
        background-color: $blue;
        color: $white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .navigationButton1 {
        left: 0;
    }

    .navigationButton2 {
        right: 0;
    }

    .navigationButton1:hover, .navigationButton2:hover {
        background-color: darken($blue, 10%);
    }

    .stayConnected{
        .stayConnectedHead{
            text-align: center;
            font-size: 1.5em;
        }
        #stayConnectedDescription{
            font-size: 0.9em;
        }
    }
}