@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.ExtraMargin
{
    margin-top: 2rem;
}

.Pagination
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}